<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>
<h1></h1>
<ul>
<li>
<a th:href="@{/params/string(text='Hola mundo')}">/params/string?text=Hola mundo</a>
</li>
<li>
<a th:href="@{/params/mix-params(text='Hello world', number=11)}">/params/mix-params?text=Hello world&number=11)</a>
</li>
<li>
<a th:href="@{/params/mix-params-request(text='Hello world', number=11)}">/params/mix-params?text=Hello world&number=11)</a>
</li>
</ul>
</body>
</html>